<div class="modal-body">
    <ul class="nav nav-tabs">
        <li ng-class="{active:selectedMode == 'personal'}" ng-click="tabMode('personal')" class=""><a
                bo-bind="'accountcenter.common.avartar.edit' | translate">个性头像编辑</a></li>
        <li ng-class="{active:selectedMode == 'local' }" ng-click="tabMode('local')" ng-show="IS_CHINESE_USER"
            class="active"><a bo-bind="'accountcenter.common.avartar.upload' | translate"
                              data-spm-anchor-id="5176.2020520207.0.0">本地头像上传</a></li>
    </ul>
    <div class="tabs-bd">
        <div ng-show="selectedMode == 'local'" class="">
            <form class="form-horizontal ng-pristine ng-valid" role="form" novalidate="" name="form">
                <div class="avatar-local-wrap"><p style="margin-bottom: 0"
                                                  bo-bind="'accountcenter.common.avartar.select.msg' | translate">
                    从电脑里挑选一张好图作为头像吧</p>
                    <div class="clearfix"><input ng-model="formData.file" placeholder="选择一个文件" disabled="disabled"
                                                 class="form-control ng-pristine ng-valid"
                                                 style="width: 176px;display: inline-block">
                        <div class="fileUpload btn btn-default"><span
                                bo-bind="'accountcenter.common.upload' | translate">上传</span>
                            <input name="file" type="file" class="upload ng-isolate-scope" form-data="formData"
                            id="startUploadBtn" file-reader="" accept=".jpg,.png" data-spm-anchor-id="5176.2020520207.0.i1.43254c12bc8E9I">
                        </div>
                    </div>
                    <div class="text-danger ng-hide" ng-show="formData.errorExtname"
                         bo-bind="'accountcenter.common.errorExtname' | translate">对不起，格式错误
                    </div>
                    <p bo-bind="'accountcenter.common.errorExtname.type' | translate">支持jpg/png格式图片，文件需小于2M</p></div>
            </form>
        </div>
        <div ng-show="selectedMode != 'local'" class="ng-hide"><p class="margin-top-2"
                                                                  bo-bind="'accountcenter.common.avarta.select.local' | translate">

            </div>
        </div>
    </div>
</div>