<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">



</head>
<body>
<div class="container blog-content-container">
    <div class="row">
        <div class="col-md-12">
            <div >
                <div class="card-block" th:object="${blogModel.blog}">
                    <input type="hidden" id="id" th:value="*{id}">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="请填写博客标题"
                                   id="title" name="title" th:value="*{title}" maxlength="50">
                        </div>


                        <div class="col-md-3">
                            <button class="btn btn-primary float-right" id="submitBlog"
                                    th:attr="username=${#authentication.name}">发布</button>

                            <button class="btn btn-primary float-right" id="saveBlog"
                                    th:attr="username=${#authentication.name}">保存</button>
                        </div>

                    </div>



                    <textarea class="blog-textarea" placeholder="请填写摘要" id="summary" name="summary"
                              th:text="*{summary}" maxlength="300" style="margin-top: 10px"></textarea>

             <!--       <textarea id="md" data-provide="markdown" data-hidden-buttons="cmdImage"

                    name="content"  th:text="*{content}"></textarea>-->


                </div>

            </div>
            <div id="my-editormd" >
                <textarea id="my-editormd-markdown-doc" th:inline="text"
                          name="content" style="display:none;" >[[${blogModel.blog.content}]]</textarea>
                <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
            </div>
        </div>


    </div>


</div>





<div th:replace="~{fragments/footer :: footer}">...</div>
<script  src="/static/js/userspace/editBlog.js" th:src="@{/js/userspace/editBlog.js}"></script>
<script type="text/javascript">
    $(function() {
        editormd("my-editormd", {//注意1：这里的就是上面的DIV的id属性值
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            previewTheme : "dark",
            editorTheme : "pastel-on-dark",
          //  markdown : md,
            codeFold : true,
            path    : "/js/mdeditor/lib/",//注意2：你的路径
            saveHTMLToTextarea : true,//注意3：这个配置，方便post提交表单
            /**上传图片相关配置如下*/
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/pic/editormdPic/",//注意你后端的上传图片服务地址
            onload : function() {

                console.log('onload', this);
                console.log('onload', this);

            }
        });
    });
</script>

</body>
</html>
