<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
    <link href="../../css/style.css" th:href="@{/css/bootstrap-table.css}" rel="stylesheet">


</head>
<body>

<div class="container blog-content-container">
    <div class="row">
        <!-- 左边-->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <span>
                        <a class="blog-edit-avator" data-toggle="modal" data-target="#flipFlop"
                        role="button" data-th-attr="userName=${userModel.user.username}">
                            <img th:src="${userModel.user.avator}==null? '/images/avator-default.jpeg':${userModel.user.avator}" class="blog-avatar blog-avatar-230">
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <!--右边-->

        <div class="col-md-8">
            <h5 class="card-header">个人设置</h5>
            <div class="card-block">
                <form class="form-group" th:object="${userModel.user}" id="userForm"
                      th:action="'/user/'+${#authentication.name}+'/profile'" method="post">
                    <input type="hidden" id="userId" name="id" th:value="*{id}">
                    <div class="form-group">
                        <label for="username">账号</label>
                        <input class="form-control" id="username" name="username" type="text"
                        th:value="*{username}">
                    </div>

                    <div class="form-group">
                        <label for="email">邮箱</label>
                        <input class="form-control" id="email" name="email" type="email"
                               th:value="*{email}">
                    </div>

                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input class="form-control" id="name" name="name" type="text"
                               th:value="*{name}">
                    </div>

                    <div class="form-group">
                        <label for="password">密码</label>
                        <input class="form-control" id="password" name="password" type="password"
                               th:value="*{password}">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="提交" class="btn btn-primary">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- 弹出层遮罩 -->
<div id="layer-mask" class="layer-mask"></div>
<!-- 弹出层窗体 -->
<div id="layer-pop" class="layer-pop" >
    <!-- 弹出层关闭按钮 -->
    <div id="layer-close" class="layer-close">×</div>
    <!-- 弹出层内容区域 -->
    <div id="layer-content" class="layer-content" style="margin-left: 50px">

    </div>
</div>

<!-- 登录窗体 -->
<div id="loginHtml" style="display:none;">
    <!-- 登录窗体 -->
    <form id="avatorForm" th:action="'/user/' + ${#authentication.name}+ '/avator/upload'" method="post" enctype="multipart/form-data">
        <div class="login" >
            <h4 class="title">头像修改</h4>
            <div class="item">
                <label>文件</label>
                <input id="file" class="file" name="file" type="file"/>
                <p class="error-msg"></p>
            </div>

            <div class="item">
                <label>&nbsp;</label>
                <button id="loginSubmitBtn" type="submit" th:text="提交" class="btn btn-primary"/>
            </div>
        </div>
    </form>

</div>


<div th:replace="~{fragments/footer :: footer}">...</div>

<script>
    $(function () {
        $("#loginSubmitBtn").on('click',function () {
            console.log("hell world");
            alert(" hello world ");
        })

    })
</script>
</body>
</html>
