<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanglf.usermanage.dao.UserAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.yanglf.usermanage.domain.UserAuthority">
    <constructor>
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="authority_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <insert id="insert"
          parameterType="com.yanglf.usermanage.domain.UserAuthority">
    insert into user_authority (user_id, authority_id)
    values (#{userId,jdbcType=INTEGER}, #{authorityId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective"  
          parameterType="com.yanglf.usermanage.domain.UserAuthority">
    insert into user_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="authorityId != null">
        authority_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="authorityId != null">
        #{authorityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>