<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body>


    <footer class="col-md-12" data-th-fragment="footer"
            style="background: #323643;z-index: 40px;
            bottom: 2px;margin:0 auto; overflow:hidden; position: fixed; bottom:0;" >
       <div style="padding-bottom: 10px;padding-top:10px;" class="container">
        <a id="goToTop" href="#">
            <i class="fa fa-chevron-up fa-3x" aira-hidden="true"></i>
        </a>


        <div class="container" style="display: block">
            <p class="m-0 text-center text-white">© 2018 <a href="https://yanglf007.top">yanglf007.top</a></p>
        </div>


        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<!--        <script src="/static/jquery.min.js" th:src="@{/jquery.min.js}"></script>
        &lt;!&ndash; 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 &ndash;&gt;
        <script src="/static/bootstrap.min.js" th:src="@{/bootstrap.min.js}"></script>-->


        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="/static/thymeleaf-bootstrap-paginator.js" th:src="@{/thymeleaf-bootstrap-paginator.js}"></script>
        <script src="../../js/userspace/avator.js" th:src="@{/js/userspace/avator.js}"></script>
        <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
        <script src="../../js/editormd.min.js" th:src="@{/js/editormd.min.js}"></script>
        <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
       </div>
    </footer>


</body>
</html>
