<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
    <title th:text="${title}"></title>
<style>

</style>


</head>
<body>



    <div class="container blog-content-container">

        <div class="row">
            <div class="col-md-10" style=" position:relative;margin-bottom: 20px">
                <div  data-example-id="" style="margin-top: 20px">

                    <ol class="breadcrumb" style="margin-bottom: 5px;">
                        <li style="margin-left: 10px"><a href="#">推荐阅读</a></li>
                        <li style="margin-left: 10px"><a href="#">Java语言</a></li>
                        <li style="margin-left: 10px">数据库</li>
                        <li style="margin-left: 10px">框架知识</li>
                        <li style="margin-left: 10px">前端知识</li>
                    </ol>
                </div>
                <div th:each="blog : ${blogModel.blogList}">
                    <div class="card mb-4" >
                        <div class="card-block" style="margin-left: 10px">

                            <h2 class="card-title">
							<span>
			                  <a href="#">
			                    <img th:src="${blog.user.avator}" style="border-radius: 50% ;width: 40px;height: 40px"
                                     th:alt="${blog.user.name}">
			                  </a>
					        </span><!--/blogs/{username}/editor/{id}-->
                                <a th:href="'/blogs/'+${blog.user.name} +'/' + ${blog.id}" class="card-link" th:text="${blog.title}">

                                </a></h2>

                            <p class="card-text" th:text="${blog.summary}"></p>
                            <!--<p class="card-text" th:utext="${blog.htmlContent}"></p>-->
                            <div class="card-text row" style="margin-left: 10px">
                                <a href="#" style="color: #373d41!important; font-family:PingFangSC-Medium!important;" class="card-link" th:text="${blog.user.name}"></a>
<!--
                                <div th:text="发表于+${blog.createTime}" style="margin-left: 10px"></div>
-->

                                <div th:text="发表于+${#dates.format(blog.createTime,'yyyy-MM-dd HH:mm:ss')}"
                                style="margin-left: 10px"></div>


                                <div style="margin-left: 10px">    48人浏览</div>
                            </div>
                        </div>


                    </div>
                </div>
                <nav class="pagination" role="navigation">
                    <a class="newer-posts" th:href="'/index/'+${page.getNumber()-1}" th:if="${page.hasPrevious()}">
                        <i class="fa fa-angle-left" ></i>
                    </a>
                    <span class="page-number" th:inline="text">第[[${page.getNumber()+1}]]页/共[[${page.getTotalPages()}]]页</span>
                    <a class="older-posts" th:href="'/index/'+${page.getNumber()+1}" th:if="${page.hasNext()}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </nav>
                <div style="height: 50px"></div>
            </div>
        </div>
    </div>

<div th:replace="~{fragments/footer :: footer}">...</div>

</body>
</html>
