<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${title}"></title>


</head>
<body>

<div th:replace="~{fragments/header :: header}">...</div>
<div class="container">
    <form action="/login" method="post" th:action="@{/login}">
        <input id="id"  type="text" name="id" style="visibility: hidden"><br>
        用户名：<input id="username" name="username" type="text" class="form-control"><br>

        密  码：<input id="password" type="password" name="password" class="form-control"><br>
        <button type="submit" name="登录" class="btn btn-primary btn-lg btn-block">login in</button>

    </form>

</div>

<div th:replace="~{fragments/footer :: footer}">...</div>

</body>
</html>
